/*Common*/

@font-face {
    src: url("../fonts/NunitoSans-Regular.ttf");
    font-family: "NunitoSans Regular";
    /*font-family: 'NunitoSans Regular', sans-serif;*/
}

@font-face {
    src: url("../fonts/NunitoSans-Italic.ttf");
    font-family: "NunitoSans Italic";
    /*font-family: 'NunitoSans Italic', sans-serif;*/
}

@font-face {
    src: url("../fonts/YesevaOne-Regular.ttf");
    font-family: "YesevaOne Regular";
    /*font-family: 'Yeseva Regular', cursive;*/
}

body {
    /* max-width: 1438px; */
    font-family: 'NunitoSans Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
}

h1 {
    font-family: 'Yeseva Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 53px;
    text-transform: uppercase;
    color: #FFFFFF;
}

h2 {
    font-family: 'Yeseva Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

h3 {
    font-family: 'Yeseva Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

a {
    color: #FFFFFF;
    text-decoration: none;
}

button {
    color: #FFFFFF;;
    background: #E3B873;
    box-shadow: 0px 5px 15px rgba(227, 184, 115, 0.2);
    border: none;
    outline: none;
    border-radius: 2px;
    font-family: 'NunitoSans Regular', sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 15px;
    text-align: center;
    text-transform: uppercase;
}

.container {
    max-width: 1263px;
    margin: 0 auto;
}

/*Common end*/

/*Header*/

.header {
    background-color: #131313;
}

.header-container {
    display: flex;
    height: 83px;
    padding-top: 6px;
    align-items: center;
    justify-content: space-between;
    font-size: 11px;
    line-height: 15px;
    text-transform: uppercase; 
}

.logo {
    text-align: left;
    color: #E3B873;
}

.header-menu-list {
    display: flex;
    margin-left: 95px;
}

.header-menu-item {
    margin-right: 47px;
}

.header-menu-item a:hover {
    color: #E3B873;
}

.phone-number {
    margin-left: 67px;
}

.phone-number a {
    color: #E3B873;
    text-decoration-line: underline;
}

.call-request-button {
    width: 161px;
    height: 37px;
    margin-left: 45px;
    font-size: 11px;
    line-height: 15px;
    font-style: italic;
}

/*Header end*/

/*General*/
.general {
    background-image: url("../images/general/background.jpg");
    height: 707px;
}

.general-container {
    padding-top: 194px;
    padding-left: 21px;
}

.general-container h1 {
    max-width: 520px;
}

.general-container h1 span{
    color: #E3B873;    
}

.general-container p {
    margin-top: 19px;
    color: #FFFFFF;
    font-size: 22px;
    line-height: 36px;
}

.cost-calculate-button,
.application-submit-button {
    width: 207px;
    height: 51px;
    margin-top: 51px;
}

.application-submit-button {
    margin-left: 20px;
    background: none;
    border: 1px solid #FFFFFF;
    border-radius: 2px;
}
/*General end*/

/*Projects*/
.projects {
    height: 1072px;
    background-color: #131313;
}

.projects-container {
    padding-top: 99px;
    padding-left: 21px;
}

.projects-menu-list {
    display: flex;
    justify-content: flex-end;
    margin-right: 25px;
}

.projects-menu-item {
    margin-right: 67px;
    font-family: 'Yeseva One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
}

.projects-menu-item a:hover {
    color: #E3B873;
}

.projects-contant {
    display: flex;
    margin-top: 53px;
}

.project-discription {
    max-width: 487px;
}

.project-discription h2 {
    max-width: 100px;
    color: #E3B873;
    font-size: 27px;
    line-height: 37px;
    letter-spacing: -0.07em;
    text-transform: uppercase;
}

.project-discription h3 {
    color: #E3B873;
    font-size: 18px;
    line-height: 25px;
    text-transform: uppercase;
}

.project-discription p {
    padding-top: 34px;
    color: #FFFFFF;
    font-size: 14px;
    line-height: 27px;
}

.project-detailes {
    display: flex;
    flex-wrap: wrap;
    max-width: 500px;
}

.project-detailes div {
    min-width: 200px;
    padding-top: 35px;
}

.project-detailes span {
    font-size: 13px;
    line-height: 21px;
    color: #FFFFFF;
}

.projects-additional-menu {
    display: flex;
    padding-top: 81px;
}

.button-left,
.button-right {
    background: none;
    box-shadow: none;
}
.button-left:hover,
.button-right:hover {
    filter: brightness(50%);
}

.additional-menu-list {
    display: flex;
    margin: 0px 18px 0 30px;

}

.additional-menu-item div {
    margin-right: 18px;
    background: rgba(255, 255, 255, 0.3);
    border-radius: 30px;
    height: 12px;
    width: 12px;
}

.additional-menu-item div:hover {
    background:#FFFFFF;
    cursor: pointer;
}

.project-image img {
    width: 674px;
    margin-left: 50px;
}
/*Projects end*/