@font-face {
    src: url("../fonts/NunitoSans-Regular.ttf");
    font-family: "NunitoSans Regular";
    /*font-family: 'Nunito Sans', sans-serif;*/
}

@font-face {
    src: url("../fonts/NunitoSans-Italic.ttf");
    font-family: "NunitoSans Italic";
    /*font-family: 'Nunito Sans', sans-serif;*/
}

@font-face {
    src: url("../fonts/YesevaOne-Regular.ttf");
    font-family: "YesevaOne Regular";
    /*font-family: 'Yeseva One', cursive;*/
}

body {
    max-width: 1438px;
    margin: 0 auto;
}

.container {
    max-width: 1264px;
    margin: 0 auto;
}